<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.uis.looperlayout.demo">
  <uses-permission android:name="android.permission.INTERNET"/>
  <application android:label="Looper">
    <activity android:name=".DemoUi">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
